@model IEnumerable<ConstellationStore.Models.Product>

@{
    ViewBag.Title = "Our Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our Products</h2>

<div class="container">
    <div class="row margin-top-10">
        <div class="col-md-7">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="col-md-9 col-xs-8 margin-top-10">
                    @Html.TextBox("SearchString", null, new { id = "SearchString", @class = "form-control", placeholder="Search by product name" })
                </div>
                <div class="col-md-1 col-xs-2 margin-top-10">
                    <button type="submit" class="btn btn-primary glyphicon glyphicon-search" />
                </div>
                <div class="col-md-1 col-xs-2 margin-top-10">
                    <a href="@Url.Action("Index", "Products")" class="btn btn-primary glyphicon glyphicon-remove"></a>
                </div>
            }
        </div>
    </div>
</div>


<div class="container">
    <div class="row margin-top-10">
        <div class="col-md-5">
            <div class="btn btn-primary">
                @Html.ActionLink("Product Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="btn btn-primary">
                @Html.ActionLink("Product Price", "Index", new { sortOrder = ViewBag.PriceSortParm })
                <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    @foreach (var item in Model)
    {
        <hr>
        <a href="#" class="glyphicon glyphicon-chevron-up pull-right"></a>
        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive img-rounded" src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="">
            </div>
            <div class="col-md-5">
                <div class="col-xs-12">
                    <h3>@Html.DisplayFor(modelItem => item.Description)</h3>
                    <h4>Price: CDN$@Html.DisplayFor(modelItem => item.Price)</h4>
                    <h4>Cost Price: CDN$@Html.DisplayFor(model => item.CostPrice)</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                </div>
                <div class="col-xs-12">
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductId })" class="btn btn-primary col-md-4 col-xs-12 margin-top-10">
                        Details &nbsp;
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </a>
                    <div class="col-md-4 margin-top-10"></div>
                    <a href="@Url.Action("AddToBasket", "Products", new { id = item.ProductId })" class="btn btn-primary col-md-4 col-xs-12 margin-top-10">
                        Add To Basket
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    <!-- /.row -->
    }
</div>
