@model AdventureTravels.Models.Basket

@{
    ViewBag.Title = "Basket Summary";
}

<h2>Basket Summary</h2>

<div class="container">
    <div class="row margin-top-10">
        <div class="col-md-6 col-md-push-6 col-xs-12">
            <a href="@Url.Action("BasketItemAdd", "Products")" class="btn btn-primary pull-right margin-top-10">
                Select More Products &nbsp;
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            URL
        </th>
        <th>
           ID
        </th>
        <th>
           Description
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.BasketItems)
    {
        <tr>
            <td class="col-xs-2">
                <div >
                    <img class="img-responsive img-rounded thumb-img" src="@Html.DisplayFor(modelItem => item.Product.ImageUrl )" alt="@item.Product.Description">
                </div>
            </td>
            <td class="col-xs-2">
                @Html.DisplayFor(modelItem => item.BasketID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td class="col-xs-4">
                <div class="col-md-6 col-xs-12">
                    <a href="@Url.Action("BasketItemDetails", "Products", new { id = item.ProductID })" class="btn btn-primary col-xs-12">
                        Details
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <a href="@Url.Action("DeleteFromBasket", "Products", new { id = item.BasketItemID })" class="btn btn-primary col-xs-12">
                        Remove
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </div>

            </td>
        </tr>
    }

    <tr>
        <td colspan="3">
            Total
        </td>
        <td colspan="1">
            @ViewBag.AmountInBasket
        </td>
        <td colspan="1">
            @ViewBag.QuantityInBasket
        </td>

    </tr>
</table>


<table class="table">
    <tr>
        <th>
            Code
        </th>
        <th>
            Description
        </th>
        <th>
            Value
        </th>
    </tr>

    @foreach (var item in Model.BasketCoupons)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CouponCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponDescription)
            </td>
            <td>
                @String.Format("{0:c}", item.Value)
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm("AddBasketCoupon", "Products"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Basket Coupon</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2">Enter Coupon Code: </div>
            <div class="col-md-10">
                <input class="form-control" type="text" id="CouponCode" name="CouponCode" style="width:20%;"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Coupon" class="btn btn-warning" />
            </div>
        </div>
    </div>
}
